nav.home-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 8rem;
    margin-left: 300px;
    padding: 1rem 1rem;



}

  nav.home-nav1 {
      display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 8rem;
    margin-left: 500px;
    padding: 1rem 1rem;

  }
.home-nav a {
    text-decoration: none;
    color: #C2C2C2;

;

}

.home-nav1 a {
    text-decoration: none;
    color: #C2C2C2;

;

}


#main-header {
    background-color: #085ab0;
    color: white;
    padding: 1rem 2rem;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    justify-content: space-between;
    flex-wrap: wrap;


}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    font-family: 'Roboto', Arial, sans-serif;
}

main {
    flex: 1;
    flex-direction: column;
}

body.home::before {
    content: "";
    position: absolute;
    background-image: url('Photos/background.jpg');
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;

}

body.home {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding:0;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;

}

#title {

    font-size: 85px;
    margin-left: 90px;
    font-family: "roboto", sans-serif;
    background-color: rgba(46, 46, 46, 0.7);
    padding: 20px 40px;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);




}
#footer-home {
    text-align: left;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    margin-top: auto;
    background-color: #085ab0;
    color: white;
    padding: 1rem 2rem;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.3);


}
#footer-history {
    text-align: left;
    bottom: 0;
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: auto;
    background-color: #FF7700;
    color: white;
    padding: 1rem 2rem;
    box-sizing: border-box;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.3);
}

#search {
    border-radius: 40px;
    height: 45px;
    padding: 5px 15px;
}

#vision-statement {
    font-size: clamp(1rem, 1.5vw, 2rem);
    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    right: 20%;
    top: -25%;
    position: relative;
    font-family: "roboto", Helvetica, sans-serif;
    background-color: rgba(20, 20, 20, 0.8);
    padding: 1.5rem 3rem;
    border-radius: 20px;
    display: block;
    box-shadow: 0 0 10px rgba(0, 240, 255, 0.8);
    max-width: 80%;
    opacity: 1;
    animation: fadeIn 1.5s ease-in-out forwards, float 6s ease-in-out infinite alternate;

}

#Learnmore {

    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    left: 10%;
    bottom: 250px;
    position: relative;
    font-family: "roboto", Helvetica, sans-serif;
    background-color: rgba(20, 20, 20, 0.8);
    padding: 1.0rem 1rem;
    border-radius: 100px;
    display: block;
    max-width: 10%;
    opacity: 1;

}

 @keyframes float {
     0%, 100% {
         transform: translate(50%, -50%) translateY(0);
     }
     50% {
         transform: translate(50%, -50%) translateY(-15px);
     }
 }

 @keyframes fadeIn {

     from { opacity: 0}
     to {
         opacity: 1;
     }

 }




#eco {
    width: 200px;
    border-radius: 70%;
    object-fit: cover;
    transform: translateY(-180px);



}

#plane-from-above {
    width: 200px;
    border-radius: 70%;
    object-fit: cover;
    transform: translateY(-120px);
    position: absolute;
    bottom: 15px;
    right: 300px;

}

#Map {
    width: 400px;
    border-radius: 8%;
    object-fit: cover;
    transform: translateY(-120px);
    position: absolute;
    bottom: 15px;
    right: 140px;

}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#logo {
    position: absolute;
    top: 15px;
    left:20px;
    height:60px;
    width:auto;
    z-index:1000;

}

body.history::before,
body.history::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

body.history::before {
    left: 0;
    background-image: url("Photos/am_l.png") ;
}

body.history::after {
    right: 0;
    background-image: url("Photos/ConvairCar_Model_118.jpg");
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #00f2ff;
    border-radius: 5px;
    margin-bottom: 5px;
}

.hamburger {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    height: 22px;
    z-index: 1001;

}





#History-Statement {
    font-family: "fantasy" , sans-serif;
    font-size: 44px;
    padding: 20px 40px;
    border-radius: 50px;
    display: block;
    color: #001F4D;
    position: absolute;
    margin: 2rem 90px 0 90px;
    bottom: 40rem;



}

.early-developments h3 {

    margin-top: 200px;
    margin-left: 312px;
    background-color: rgba(46, 46, 46, 0.5);
    border-radius: 8px;
    max-width: 10%;
    max-height: 8%;
    border: 3px solid white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    padding: 0.3rem 0.7rem;
}

.header-row {
    position: relative;
}

.benefits-header,
.emerging-challenges-header{
    background-color: rgba(46, 46, 46, 0.5);
    border-radius: 20px;
    border: 3px solid white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    padding: 0.3rem 0.7rem;
    position: absolute;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.emerging-challenges-header {
    bottom: 700px;
    left: 1400px;
    width: 80px;
    height: 65px;

}

.benefits-header {
    bottom: 450px;
    left: 450px;
    width: 80px;
    height: 65px;
}




#history-text1 {
    font-family: 'Orbitron' , sans-serif;
    font-size: 20px;
    max-width: 40%;
    background-color: rgba(46, 46, 46, 0.8);
    padding: 1.5rem 2.5rem;
    border-radius: 100px;
    display: block;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border: 3px solid white;
    position: fixed;
    bottom: 3rem;
    right: 53vw;


}

#History-table{
    bottom: 5rem;
    position: fixed;
    right: 2rem;
    font-size: 18px;
    border: 1px solid black;
    background-color: rgba(46, 46, 46, 0.6);
    border-radius: 8px;
}

#main-header1 {
    background-color: #FF7700;
    color: white;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    justify-content: space-between;
    flex-wrap: nowrap;

}

#main-header2 {
    background-color: #E4E9E8;
    color: black;
    padding: 15px 30px;
    box-sizing: border-box;
    display: flex;
    height: 100px;

    justify-content: space-between;
    flex-wrap: nowrap;

}

#footer-references {
    text-align: left;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    margin-top: auto;
    background-color: #E4E9E8;
    color: black;
    padding: 1rem 2rem;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.3);


}

#history-text2 {
    font-family: 'Orbitron' , sans-serif;
    font-size: 20px;
    max-width: 40%;
    background-color: rgba(46, 46, 46, 0.8);
    padding: 1.5rem 2.5rem;
    border-radius: 100px;
    display: block;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border: 3px solid white;
    position: fixed;
    bottom: 20rem;
    right: 53vw;


}

#Benefits {
    font-family: 'Orbitron' , sans-serif;
    font-size: 20px;
    max-width: 40%;
    background-color: rgba(46, 46, 46, 0.8);
    padding: 1.5rem 2.5rem;
    border-radius: 80px;
    display: block;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border: 3px solid white;
    position: fixed;
    bottom: 10rem;
    right: 55%;
}
#Emerging-challenges {
    font-family: 'Orbitron' , sans-serif;
    font-size: 20px;
    max-width: 40%;
    background-color: rgba(46, 46, 46, 0.8);
    padding: 1.5rem 2.5rem;
    border-radius: 80px;
    display: block;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border: 3px solid white;
    position: fixed;
    bottom: 23rem;
    right: 4%;
}



#th, td {
    border: 1px solid black
}

body.Perspective::before {
    content: "";
    position: absolute;
    background-image: url('Photos/history_new.png');
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;

}

#Reference1, #Reference2{
    font-size: 22px;
    padding: 1.5rem 2.5rem;
    background: rgba(240,240,240,0.6);
    border-radius:12px;
    line-height: 1.3;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-left: 4px solid #5a5a5a;

}

.references-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 3rem 6rem;
}



#contact-title {
    font-size: 50px;
    margin-left: 90px;
    font-family: "roboto", sans-serif;
    background-color: rgba(46, 46, 46, 0.7);
    padding: 20px 40px;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    position: fixed;
    bottom: 23rem;


     }

body.contact::before,
body.contact::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

body.contact::before {
    left: 0;
    background-color: grey;
}

body.contact::after {
    right: 0;
    background-color: #0A74DA;
}


#First-name {
     display: flex;
     width: 20%;
     margin: 1rem auto;
     border-radius: 40px;
     height: 45px;
     padding: 5px 15px;

}
#Last-name {
     display: block;
     width: 20%;
     margin: 1rem auto;
     border-radius: 40px;
     height: 45px;
     padding: 5px 15px;
}
#Email {
     display: block;
     width: 20%;
     margin: 1rem auto;
     border-radius: 40px;
     height: 45px;
     padding: 5px 15px;
}
#Comments {
     display: block;
     width: 20%;
     margin: 1rem auto;
     border-radius: 40px;
     height: 300px;
     padding: 5px 15px;
}
#button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     width: 10%;
     margin: 1rem auto;
     border-radius: 30px;
     height: 45px;
     padding: 5px 15px;
    background-color: grey;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;max-width: 400px;
    padding: 2rem;
    border-radius: 20px;



}
form.contactform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;


}

#iframe {
   position: fixed;
   bottom: 28rem;
   width: 560px;
   height: 315px;
   left: 60vw;

}

#perspective-statement {
    font-family: "fantasy" , sans-serif;
    font-size: 60px;
    padding: 20px 40px;
    border-radius: 50px;
    display: block;
    color: black;
    position: absolute;
    margin: 2rem 90px 0 90px;
    bottom: 40rem;

}

#reference-statement {
    font-family: "fantasy", sans-serif;
    font-size: 40px;
    padding: 20px 40px;
    border-radius: 50px;
    display: block;
    color: black;
    position: absolute;
    margin: 2rem 90px 0 90px;
    bottom: 48rem;
}
body.reference {
    background: linear-gradient(to bottom, #f7f7f7, #e6e6e6);
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {

    .hamburger  {
        display: flex;
    }
    #search {
        display: block;
        width: 30%;
        margin: 1rem auto;
    }

    .home-nav {
        position: fixed;
        top: 70px;
        right: -100%;
        background: black;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: auto;
        gap: 0.1rem;
        transition: right 0.4s ease-in-out;
        z-index: 1001;
        opacity: 95%;
        color: white;
        border-radius: 15%;
        display: flex;
        justify-content: flex-start;
        padding-top: 1rem;


    }
    .home-nav a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        display: flex;
        padding:0.1rem 0;
        gap: 0.1rem;
    }
    .home-nav h3 {
        margin: 0;
        padding: 0;


    }
    .home-nav.active {
        right: 0;

    }

    .home-nav1 {
        position: fixed;
        top: 70px;
        right: -100%;
        background: black;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: auto;
        gap: 0.1rem;
        transition: right 0.4s ease-in-out;
        z-index: 1001;
        opacity: 95%;
        color: white;
        border-radius: 15%;
        display: flex;
        justify-content: flex-start;
        padding-top: 1rem;


    }
    .home-nav1 a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        display: flex;
        padding:0.1rem 0;
        gap: 0.1rem;
    }
    .home-nav1 h3 {
        margin: 0;
        padding: 0;


    }
    .home-nav1.active {
        right: 0;

    }
    #vision-statement {
        top: 220px;
        text-align: center;
        width: 400px;
        transform: translateX(-50%);
        left: -78%;
        position: absolute;
    }
    body {
        min-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #History-Statement {
        top: 70px;
        text-align: left;
        width: 150px;
        transform: translateX(-50%);
        position: absolute;
        font-size: 30px;

    }

        #Learnmore {

        line-height: 1.5;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        left: 10%;
        bottom: 50px;
        position: relative;
        font-family: "roboto", Helvetica, sans-serif;
        background-color: rgba(20, 20, 20, 0.8);
        padding: 1.0rem 1rem;
        border-radius: 100px;
        display: block;
        max-width: 20%;
        opacity: 1;
        font-size: 16px;

     }


    #perspective-statement {
        top: 70px;
        text-align: left;
        width: 200px;
        transform: translateX(-50%);
        position: absolute;
        font-size: 30px;
        left: 20px;
    }

      #footer-history {
      text-align: left;
      bottom: 0;
      position: fixed;
      width: 100%;
      height: 60px;
      margin-top: auto;
      background-color: #FF7700;
      color: white;
      padding: -1rem 2rem;
     box-sizing: border-box;
     }


     body.history {
          position: relative;
          overflow-y: auto;
          overflow-x: hidden;
          min-height: 200vh;
          background-color:white;
      }




      body.history::before,
      body.history::after {
     content: "";
     position: absolute;
      width: 100%;
     height: 40vh;
     background-position: center;
     opacity: 0.4;
     left: 0;
     z-index: -1;
     overflow-y: auto;
     overflow-x: hidden;
     min-height: 100vh;
     background-color: white;

     }

      body.history::before {
     top: 0;
     background-image: url("Photos/am_l.png") ;
    }

      body.history::after {
       top: 70vh;
       background-image: url("Photos/ConvairCar_Model_118.jpg");
      }

     #History-table {
     position: static;
     font-size: 18px;
     border: 1px solid black;
     text-align: center;
     width: 90%;
     margin: 2rem auto;
     max-width: 450px;


     }

     #iframe {
     top: 13rem;
     left: 31vw;
     width: 310px;
     height: 150px;
     position: absolute;
     }




     .white-bottom {
         height: 200vh;
         background-color: white;
         top:80vh;
         z-index: 0;
         width: 100%;

     }

     #history-text1, #history-text2 {
     position: static;
     font-size: 18px;
     border: 1px solid black;
     text-align: center;
     padding: 1rem;
     margin: 2rem auto;
     width:90%;
     max-width: 400px;
     border-radius: 10px;



     }

     #history-text2{
         margin-top: 1rem;
     }



     .header-row {
     position: relative;
     }

    .benefits-header {
        top: 610px;
        left: 200px;
        background-color: rgba(46, 46, 46, 0.5);
        border-radius: 30px;
        width: 65px;
        height: 55px;
        border: 3px solid white;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        padding: 0.3rem 0.7rem;
        position: absolute;
    }

    .emerging-challenges-header {
        top: 100px;
        left: 200px;
        background-color: rgba(46, 46, 46, 0.5);
        border-radius: 30px;
        width: 85px;
        height: 65px;
        border: 3px solid white;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        padding: 0.3rem 0.7rem;
        position: absolute;
    }




     #Emerging-challenges {
     position: relative;
     top: 11rem;
     margin-bottom: 1rem;
     padding: 1rem 2rem;
      border: 1px solid black;
     border-radius: 2rem;
     max-width: 80%;
     text-align: center;
     left: 15px;
     }


     #Benefits {
     position: relative;
     top: 15rem;
     margin-bottom: 1rem;
     padding: 1rem 2rem;
      border: 1px solid black;
     border-radius: 2rem;
     max-width: 80%;
     text-align: center;
     left: 15px;
}


     #plane-from-above {
     width: 150px;
     border-radius: 70%;
     object-fit: cover;
     transform: translateY(-120px);
     position: absolute;
     bottom: -100vw;
     right: 30px;

}




     .early-developments h3 {

     margin-top: 350px;
     margin-left: 180px;
     background-color: rgba(46, 46, 46, 0.5);
     border-radius: 8px;
     max-width: 21%;
     max-height: 15%;
     border: 3px solid white;
     box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
     padding: 0.3rem 0.7rem;
     }

     .references-wrapper {
         grid-template-columns: 1fr;
         gap: 1.5rem;
         padding: 0;
         margin-bottom: 1rem;
         margin-top: 5rem;
     }

     #Reference1, #Reference2 {
         font-size: 15px;
         padding: 1rem 1.0rem;
         line-height: 1.8;
         border-radius: 10px;
         max-width: 85%;
     }

     #Reference1 a, #Reference2 a{
         font-size: 16px;
         word-break: break-all;
     }

      body.reference {
          padding-bottom: 300px;
          height: auto;
      }

        #reference-statement {
        font-family: "fantasy", sans-serif;
        font-size: 40px;
        padding: 20px 40px;
        border-radius: 50px;
        display: block;
        color: black;
        position: absolute;
        margin: 2rem 90px 0 90px;
        bottom: 117rem;
    }
        body.contact{
            overflow-y: auto;
            overflow-x: hidden;
            min-height: 100vh;
            display: block;
            padding-bottom: 6rem;
        }

        body.contact::before,
        body.contact::after {
            width: 100%;
            height: 40vh;
            opacity: 0.3;
            position: absolute;
            left: 0;
            z-index: -1;

        }

        body.contact::before{
            top:0;
        }
        body.contact::after{
            top:40vh;
        }

        #contact-title{
            position: static;
            font-size: 32px;
            text-align:center;
            margin: 2rem auto 1rem auto;
            padding: 1rem 2rem;
            max-width: 90%;
            display: block;
        }

        form.contactform {
            width: 100%;
            height:auto;
            display: flex;
            margin: 0 auto;
            padding: 1rem 0;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }
        #First-name, #Last-name, #Email, #Comments {
            width: 85%;
            height: auto;
            padding: 0.8rem 1rem;
            border-radius: 20px;
            font-size: 1rem;
        }
        #Comments{
            height: 160px;
            resize: vertical;
        }
        #button {
            width: 50%;
            font-size: 1rem;
            border-radius: 30px;
            padding: 0.8rem 1rem;
        }

        #Map {
            position: static;
            width: 90%;
            height: 220px;
            margin: 10rem auto 2rem auto;
            display: block;
        }

        #footer-home {
            position: fixed;
        }

        body.contact {
            padding-bottom: 10px;
            height: auto;
        }

        #eco {
            width: 130px;
            border-radius: 70%;
            object-fit: cover;
            transform: translateY(-110px);
            top: 100px;
        }

        body.history {
            padding-bottom: 10px;
            height: auto;


        }}





































